
<div id = 'navBar'>
    <div class='navElement' id='navHome'><h4>HOME</h4></div>
    <div class='navElement' id='navProducts'><h4>PRODUCTS</h4></div>
    <div class='navElement' id='navSellers'><h4>SELLERS</h4></div>
    <div class='navElement' id='navTransactions'><h4>TRANSACTIONS</h4></div>
</div>