table {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    table-layout: fixed;
    border-left: 0.8px solid black;
    border-right: 0.8px solid black;
    border-bottom: 0.8px solid black;
}
tr {
    width: 100%;
    display: flex;
}
th {
  white-space: nowrap; 
  overflow: hidden;
}
td {
  white-space: nowrap; 
  overflow: hidden;
  line-height: 30px;
  vertical-align: middle;
}
.transactionCell {
  width: 70%;
  text-align: center;
  border-top: 1px solid black; 
}
.dateCell {
  width: 30%;
  text-align: center;
  border-left: 1px solid black;
  border-top: 1px solid black; 
}