
<div id="unloggedinTopbar">
  <div id="login">
    <form action="/login" method="post" class="form-inline">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control form-control-sm mx-1" required>  
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control form-control-sm mx-1" required>  
            <button class="btn btn-light btn-sm" id="loginButton">Login</button>
    </form>
  </div>
  <div id="signup">
      <form action="/signup" class="form-inline">
          <button class="btn btn-light btn-sm" id="signUpButton">Sign Up!</button>
      </form>
  </div>
</div>
